<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://services.intelgy.com/">
   <soapenv:Header/>
   <soapenv:Body>
      <ser:doTest>
         <testInput>
            <name>${headers.name}</name>
            <lastName>${headers.lastName}</lastName>
            <idcc>${headers.idcc}</idcc>
         </testInput>
      </ser:doTest>
   </soapenv:Body>
</soapenv:Envelope>
